body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 0.75em;
  background-color: #f9cd09;
  color: #3b307b;
  height: 6000px;
}

.typeface {
  position: fixed;
  top: 20px;
  left: 20px;
}
