body {
  background-color: #d1d3d4;
}

img {
  position: fixed;
  width: 50%;
  height: 50%;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  bottom: 0;
  left: 0;
}

.bottom-left {
  bottom: 0;
  right: 0;
}

h2 {
  font-family: "Kavivanar", cursive;
  font-size: 150px;
  color: #d1d3d4;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
